In [1]:
import numpy as np
import pandas as pd

In [2]:
jxb = pd.DataFrame(np.full([5,10],0),index =[1,2,3,4,5],columns=['基础补贴','夜班补贴','收治','绩效','查体','核磁','周末','夜班','小计','备注'])

In [3]:
jxb

   基础补贴  夜班补贴  收治  绩效  查体  核磁  周末  夜班  小计  备注
1     0     0   0   0   0   0   0   0   0   0
2     0     0   0   0   0   0   0   0   0   0
3     0     0   0   0   0   0   0   0   0   0
4     0     0   0   0   0   0   0   0   0   0
5     0     0   0   0   0   0   0   0   0   0

In [4]:
jxb.insert(0,'姓名',['孙佳佳','刘璐','葛倩茹','李硕薇','贾世民'])

In [5]:
jxb.insert(1,'身份','合同')

In [6]:
jxb

    姓名  身份  基础补贴  夜班补贴  收治  绩效  查体  核磁  周末  夜班  小计  备注
1  孙佳佳  合同     0     0   0   0   0   0   0   0   0   0
2   刘璐  合同     0     0   0   0   0   0   0   0   0   0
3  葛倩茹  合同     0     0   0   0   0   0   0   0   0   0
4  李硕薇  合同     0     0   0   0   0   0   0   0   0   0
5  贾世民  合同     0     0   0   0   0   0   0   0   0   0

In [8]:
jxb.name='2020年2月绩效分配表'

In [7]:
jxb['夜班'] = [6,7,6,0,0]
jxb['夜班补贴'] = jxb['夜班'] *50
jxb['核磁']=[200,200,200,530,0]
jxb['周末']= [100,50,150,0,0]
jxb['基础补贴']=(12297-(jxb['夜班补贴'].sum()+jxb['核磁'].sum()+jxb['周末'].sum()))/5
jxb['备注'] = [150,300,300,0,-750]
jxb['小计'] = jxb['基础补贴']+jxb['核磁']+jxb['备注']+jxb['夜班补贴']+jxb['周末']
jxb

    姓名  身份    基础补贴  夜班补贴  收治  绩效  查体   核磁   周末  夜班      小计   备注
1  孙佳佳  合同  1983.4   300   0   0   0  200  100   6  2733.4  150
2   刘璐  合同  1983.4   350   0   0   0  200   50   7  2883.4  300
3  葛倩茹  合同  1983.4   300   0   0   0  200  150   6  2933.4  300
4  李硕薇  合同  1983.4     0   0   0   0  530    0   0  2513.4    0
5  贾世民  合同  1983.4     0   0   0   0    0    0   0  1233.4 -750

In [9]:
jxb['小计'].sum()

12297.0

In [10]:
jxb.to_csv('data/jxb.csv')